XML-Basics-Homework/task-files/06-students.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--Create XSD Schema for the students.xml document. 
Add new elements in the schema:
information for enrollment (date and exam score)
and teacher's endorsements.-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:students" />
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn:students" ref="q1:student" />
        <xs:element name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="sex" type="xs:string" />
              <xs:element name="birthDate" type="xs:string" />
              <xs:element name="phone" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="course" type="xs:string" />
              <xs:element name="speciality" type="xs:string" />
              <xs:element name="facultyNumber" type="xs:unsignedInt" />
              
              <xs:element name="enrollment">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="date" type="xs:string" />
                      <xs:element name="score" type="xs:string" />
                      <xs:element name="endorsments" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
              </xs:element>
              
              <xs:element name="exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="tutor" type="xs:string" />
                          <xs:element name="score" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>